<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit.JS</title>
    <!-- Regular stylesheet resource setup -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css">
    <!-- Offline development setup -->
    <!--
    <link rel="stylesheet" href="style/bootstrap.css">
    <link rel="stylesheet" href="style/bootstrap-responsive.css">
    -->
    <!--
    <style>
        body {
            padding-top: 60px;
        }
        @media (max-width: 979px) {
            /* Remove any padding from the body */
            body {
                padding-top: 0;
            }
        }
    </style>
    -->
    <link href="style/main.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Audit.JS</a>
            <!--
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
</div>

<div class="container">
    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#">
                    library: admin
                </a>
            </div>
            <div id="collapseOne" class="collapse">
                <div id="libraryAdmin" class="accordion-inner"></div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">
                    library: book count
                </a>
            </div>
            <div id="collapseTwo" class="collapse in">
                <div id="libraryBookCount" class="accordion-inner"></div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a id="bookDetails" class="accordion-toggle" data-toggle="collapse" data-target="#collapseThree" href="#">
                    library: book details
                </a>
            </div>
            <div id="collapseThree" class="collapse">
                <div id="book" class="accordion-inner"></div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a id="bookListingAnchor" class="accordion-toggle" data-toggle="collapse" data-target="#collapseFour" href="#">
                    library: book listing
                </a>
            </div>
            <div id="collapseFour" class="collapse">
                <div id="libraryBookListing" class="accordion-inner"></div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->

<!-- Underscore templates -->
<script id="adminTemplate" type="text/template">
    <div>
        <span class="input-append">
            <input id="numberOfBooksToGenerate" class="input-small" type="text" placeholder="how many?" maxlength="6" style="text-align:right;"></input>
            <button id="generate" class="btn btn-success">Generate books</button>
        </span>
        <span class="pull-right">
            <button id="purge" class="btn btn-danger">Purge all books</button>
            <button id="replay" class="btn btn-inverse">Replay all state change events</button>
        </span>
    </div>
    <div>
        <span class="pull-right">
            <small><em>
            Total number of state change events:&nbsp;<strong><%= totalCount %></strong>
            (CREATE: <%= createCount %>, UPDATE: <%= updateCount %>, DELETE: <%= deleteCount %>)
            </em></small>
        </span>
    </div>
</script>

<script id="bookCountTemplate" type="text/template">
    <span>Total number of books:</span>
    <span class="pull-right lead"><%= count %></span>
</script>

<script id="bookListingTableTemplate" type="text/template">
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th><small>No</small></th>
            <th><small>Title</small></th>
            <th><small>Author</small></th>
            <th><small>Keywords</small></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="bookInfoTableRowTemplate" type="text/template">
    <td><small><%= seq %></small></td>
    <td><small><a href="#/book/<%= _id %>"><%- title %></a></small></td>
    <td><small><%- author %></small></td>
    <td><small><% _.each(keywords, function(keyobj) { %><%= keyobj.keyword %>&nbsp;<% }); %></small></td>
</script>

<script id="bookTemplate" type="text/template">
    <form id="editBook" action="#">
        <fieldset>
            <div style="float:left;padding-left:15px;">
                <label class="muted">Book No</label>
                <input class="input-mini uneditable-input" type="text" value="<%= seq %>"</input>
            </div>
            <div style="float:left;padding-left:15px;">
                <label class="muted">Title</label>
                <input id="title" type="text" value="<%- title %>"></input>
            </div>
            <div style="float:left;padding-left:15px;">
                <label class="muted">Author</label>
                <input id="author" type="text" value="<%- author %>"></input>
            </div>
            <div style="float:left;padding-left:15px;">
                <label class="muted">Tags</label>
                <% _.each(keywords, function(keywordobject) { %><span class="label label-success"><%= keywordobject.keyword %></span>&nbsp;<% }); %>
            </div>
            <div class="pull-right">
                <button id="updateBook" class="btn">Update</button>
                <button id="deleteBook" class="btn btn-danger">Delete</button>
            </div>
        </fieldset>
    </form>
</script>

<script id="bookHistoryTemplate" type="text/template">
    <small><strong>Book state change history</strong></small>
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th><span class="tiny">No</th>
            <th><span class="tiny">Time</span></th>
            <th><span class="tiny">User</span></th>
            <th><span class="tiny">Method</span></th>
            <th><span class="tiny">Changes</span></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="bookHistoryEventTemplate" type="text/template">
    <td><span class="tiny"><%= seq %></span></td>
    <td>
        <span class="tiny">
            <% if (!currentState) { %>
            <a href="#" class="state" data-seq="<%= seq %>"><%= timestamp %></a>
            <% } else { %>
            <%= timestamp %>
            <% } %>
        </span>
    </td>
    <td><span class="tiny"><%= user %></span></td>
    <td><span class="tiny"><%= method %></span></td>
    <td><span class="tiny"><%- changes %></span></td>
</script>
<!-- /Underscore templates -->

<!-- Regular script resource setup -->
<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.0.0/moment.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<!-- Offline development setup -->
<!--
<script src="script/jquery.js"></script>
<script src="script/underscore.js"></script>
<script src="script/backbone.js"></script>
<script src="script/socket.io.js"></script>
<script src="script/moment.js"></script>
<script src="script/bootstrap.js"></script>
-->

<!-- Audit.js: generic state versioning stuff -->
<script src="script/backbone.audit.js"></script>

<!-- Audit.JS: demo project -->
<script src="script/book.js"></script>
<script src="script/library.js"></script>
<script src="script/app.js"></script>

</body>
</html>
