/*****************************
 * Twitter Bootstrap overrides
 *****************************/
.lead {
    font-size: xx-large;
}

/*****************************
 * Twitter Bootstrap accordion
 *****************************/
body {
    padding-top: 60px;
}

/*****************************
 * Other stuff ...
 *****************************/
.tiny {
    font-size: x-small;
}

.right-margin {
    margin-right: 1rem;
}
