/*****************************
 * Twitter Bootstrap overrides
 *****************************/
.lead {
    font-size: xx-large;
}

/*****************************
 * Twitter Bootstrap accordion
 *****************************/
body {
    padding-top: 60px;
}

/*****************************
 * Other stuff ...
 *****************************/
.tiny {
    font-size: x-small;
}

.centered-text {
    text-align: center;
}

.right-margin {
    margin-right: 1rem;
}

/*****************************
 * Debug
 *****************************/
/*
div {
    border: 1px dashed;
}

header {
    border: 1px dashed;
}

nav {
    border: 1px dashed;
}

img {
    border: dashed;
}
*/
