#Ignore (personal) Git log
git.log

#Ignore derived/transient project resources
README.html
server/data
server/node_modules

#Ignore project helpers for now ...
server/bin

#Ignore WebStorm stuff
.idea/
