/**************************************
 * Twitter Bootstrap overrides
 **************************************/
.lead {
    font-size: x-large;
}

/**************************************
 * Twitter Bootstrap progressbar
 * http://stackoverflow.com/questions/18549790/bootstrap-modal-has-a-flaw
 **************************************/
.modal {
    overflow-y: auto;
}

.modal-dialog {
    /*width: 75%;*/
}

.modal-content {
}

/**************************************
 * Other stuff ...
 **************************************/
.tiny {
    font-size: x-small;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.important-looking {
    background-color: #e3dce6;
}

.centered-text {
    text-align: center;
}

.right-margin {
    margin-right: 1rem;
}

/**************************************
 * Debug
 **************************************/
/*
div {
    border: 1px dashed;
}

header {
    border: 1px dashed;
}

nav {
    border: 1px dashed;
}

img {
    border: dashed;
}
*/
